
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
*{
  box-sizing: border-box;
  font-family: "muli",sans-serif;
  margin: 0;
  padding: 0;
}
/* .navbar{
  background-color:white !important;
}
.navbar-brand{
  font-size: 1.8em !important;
  columns: #565387 !important;
  
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a{
  font-size: 1.3em;
  text-transform: capitalize;
}
.navbar a:hover{
  color:#3498db  !important;
} */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading{
  color: crimson;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px darkgoldenrod;
}
.images{
  display: flex;
  justify-content: center;
}
.images img{
width: 250px;
height: 200px;
}

.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 53px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 2em;
  margin-bottom: 30px;
}
.cards{
  width: 100%;
  height: auto;
}
.card{
  margin: 5%;
  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
  background-color: #fff;
  width: 22%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
  float: left;
}
.card:hover{
  box-shadow: 0px 30px 18px -8px  rgba(0,0,0,0.1);
  transform: scale(1.05,1.05);
}
.card_img{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}
.card_info{
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;

}
.card_category{
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}
.card_title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}
button{
  padding: 5px 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
} */


/* h1{
  padding: 20px 20px;
  background-color: #ffe9c5;
  color: pink;
  border-radius: 20px;

} */
/* span{
  color: black;
}
div {
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: -30px;

} */